<div style="margin: 30px 50px 10px 50px;">
    <div class="main-head" style="display: flex; align-items: center;">
        <div><p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50; font-size: 20px; margin: 0px;"><strong>TAX INVOICE</strong></p></div>
        <div style="max-width: 100%; border: 2px solid #a8a5a5; padding: 4px; margin-left: 35px; font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; font-size: 18px; color: #7e7e7e;">ORIGINAL FOR RECIPIENT</div>
    </div>

    <div class="header-text-logo" style="display:flex; justify-content:space-between;">
        <div class="header-content">
            <!-- Invoice Header -->
            <h1 style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#358faa; font-size: 35px;">KARAN ENTERPRISES</h1>
            <p><span style="color:#2c3e50; font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif; font-size:18px">Pratapdighi, Purba Medinipur, West Bengal, 721456</span><br />
                <span style="font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif; font-size:18px; color:#2c3e50;"><strong>Mobile:</strong> </span> <span style="color:#2c3e50; font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif; font-size:18px"> +91 9735713553 </span> <span style="font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif; font-size:18px; color:#2c3e50;"><strong>GSTIN:</strong></span> <span style="color:#2c3e50; font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif; font-size:18px">IXXXXX7852522GFFG</span></p>
        </div>
        <div class="logo">
            <img style="width: 200px; height: 200px;" src="http://54.167.111.233/media/shop-info/invoice-logo/WhatsApp_Image_2023-10-25_at_19.52.171.jpeg">
        </div>
    </div>
    <!-- Invoice Details -->

    <div class="invoice-info" style="background-color:#f0f0f0; border-top:8px solid #2c3e50; display:flex; justify-content:space-around; padding:10px">
        <div class="left-info" style="width:48%"><span style="color:#2c3e50;"><strong>Invoice No.:</strong> INV005</span></div>
        <div class="right-info" style="text-align:right; width:48%"><span style="color:#2c3e50;"><strong>Invoice Date:</strong> 5th Oct, 2023</span></div>
    </div>

    <div class="bill-ship" style="display:flex; justify-content:space-between;">
        <div class="bill-to">
            <h3><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;">BILL TO</span></h3>
            <span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif;"><strong><span style="color:#2c3e50;">AYAN NANDA GOSWAMI</span></strong></span></span>
            <p><span style="color:#2c3e50; font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif; font-size:16px;">Pratapdighi, Purba Medinipur, West Bengal, 721456</span></p>
            <p><span style="color:#2c3e50; font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif; font-size:16px;">Mobile: +91 97357135563</span></p>
            <p><span style="color:#2c3e50; font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif; font-size:16px;">State: West Bengal</span></p>
        </div>
       <div class="ship -to">
            <h3><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;">SHIP TO</span></h3>
            <span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif;"><strong><span style="color:#2c3e50;">AYAN NANDA GOSWAMI</span></strong></span></span>
            <p><span style="color:#2c3e50; font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif; font-size:16px;">Pratapdighi, Purba Medinipur, West Bengal, 721456</span></p>
            <p><span style="color:#2c3e50; font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif; font-size:16px;">Mobile: +91 97357135563</span></p>
            <p><span style="color:#2c3e50; font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif; font-size:16px;">State: West Bengal</span></p>
        </div>
    </div>

    <!-- Gap between tables -->
    <div style="height: 20px;"></div>

    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: left; color: #2c3e50; width: 4%; font-size: 14px;">SL. NO.</th>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: left; color: #2c3e50; width: 30%; font-size: 14px;">ITEMS</th>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: left; color: #2c3e50; width: 30%; font-size: 14px;">IMEI NO.</th>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: center; color: #2c3e50; width: 9%; font-size: 14px;">QTY.</th>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: center; color: #2c3e50;width: 9%; font-size: 14px;">RATE</th>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: center; color: #2c3e50;width: 9%; font-size: 14px;">TAX</th>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: right; color: #2c3e50;width: 9%; font-size: 14px;">AMOUNT</th>
        </tr>
        <tr>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: left; color: #2c3e50; width: 4%; font-size: 14px;">1</td>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: left; color: #2c3e50; width: 30%; font-size: 14px;">Product 1</td>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: left; color: #2c3e50; width: 30%; font-size: 14px;">Product 1</td>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: center; color: #2c3e50; width: 9%; font-size: 14px;">10</td>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: center; color: #2c3e50; width: 9%; font-size: 14px;">&#8377; 20.00</td>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: center; color: #2c3e50; width: 9%; font-size: 14px;">&#8377; 4.00</td>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: right; color: #2c3e50; width: 9%; font-size: 14px;">&#8377; 240.00</td>
        </tr>
        <tr>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: left; color: #2c3e50; width: 4%; font-size: 14px;">2</td>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: left; color: #2c3e50; width: 30%; font-size: 14px;">Product 2</td>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: left; color: #2c3e50; width: 30%; font-size: 14px;">Product 2</td>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: center; color: #2c3e50; width: 9%; font-size: 14px;">5</td>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: center; color: #2c3e50; width: 9%; font-size: 14px;">&#8377; 15.00</td>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: center; color: #2c3e50; width: 9%; font-size: 14px;">&#8377; 2.50</td>
            <td style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border: 3px solid #f4f0f0; border-left: none; border-right: none; border-top: none; padding: 8px; text-align: right; color: #2c3e50; width: 9%; font-size: 14px;">&#8377; 77.50</td>
        </tr>
    </table>

    <!-- Gap between tables -->
    <div style="height: 30px;"></div>

    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: left; color: #2c3e50; width: 4%; font-size: 14px;">SUBTOTAL</th>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: center; color: #2c3e50;width: 30%; font-size: 14px;"></th>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: center; color: #2c3e50;width: 30%; font-size: 14px;"></th>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: center; color: #2c3e50; width: 9%; font-size: 14px;">15</th>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: center; color: #2c3e50;width: 9%; font-size: 14px;"></th>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: center; color: #2c3e50;width: 9%; font-size: 14px;">&#8377; 6.50</th>
            <th style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none; padding: 8px; text-align: right; color: #2c3e50;width: 9%; font-size: 14px;">&#8377; 317.50</th>
        </tr>
    </table>

    <div class="after-subtotal" style="display:flex; justify-content:space-between;">
        <div class="notes" style="width: 60%;">
            <div class="finance-notes" style="width: 100%">
                <!-- Invoice Header -->
                <h4 style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;">NOTES</h4>
                <p><span style="color:#2c3e50; font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif; font-size:16px;">FINANCED BY HDFC BANK LTD, ADVANCE EMI-0, MARGIN MONEY-5000, TOTAL DOWN PAYMENT-5894</span><br />
            </div>
            <div class="bank-details-qr" style="margin-top: 25px; display:flex; justify-content:space-between; width: 99%; border-left: 4px solid #b2bac1; padding-left: 10px;">
                <div class="bank-details" style="width: 50%;">
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color: #2c3e50; font-size: 18px;"><strong>Company's Bank Details:</strong></p>
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color: #2c3e50; font-size: 14px;">A/c Name - KARAN ENTERPRISE</p>
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color: #2c3e50; font-size: 14px;">Bank Name - HDFC</p>
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color: #2c3e50; font-size: 14px;">A/c No - 7894561239856155</p>
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color: #2c3e50; font-size: 14px;">IFSC - PUNB0123648542N</p>
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color: #2c3e50; font-size: 14px;">Branch - Egra</p>
                </div>
                <div class="qr-details" style="padding-right: 20px; width: 50%; text-align: right;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Qr_code_SelfieDuMacaque.png" style="width: 150px; height: 150px;">
                </div>
            </div>
        </div>
        <div class="amount-explain" style="width: 50%;">
            <div class="calculations" style="display: flex; justify-content: space-between; width: 100%;">
                <div class="left-values" style="width: 40%; padding: 0px 10px; text-align: left;">
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:15px;">TAXABLE AMOUNT</p>
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:15px;">CGST @9%</p>
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:15px;">SGST @9%</p>
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:15px;">DISCOUNT @5%</p>
                </div>
                <div class="right-values" style="width: 40%; padding: 0px 10px; text-align: right;">
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:15px;">&#8377; 15000</p>
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:15px;">&#8377; 1200</p>
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:15px;">&#8377; 1200</p>
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:15px;">- &#8377; 200</p>
                </div>
            </div>
            <div class="total-amt" style="display: flex; justify-content: space-between; width: 100%; border-top: 3px solid #2c3e50; border-bottom: 3px solid #2c3e50; border-left: none; border-right: none;">
                <div class="left-values" style="width: 50%; padding: 0px 10px; text-align: left;">
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:15px;"><strong>TOTAL AMOUNT</strong></p>
                </div>
                <div class="right-values" style="width: 50%; text-align: right; padding: 0px 10px;">
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:15px;"><strong>&#8377; 16000</strong></p>
                </div>
            </div>
            <div class="received-amt" style="display: flex; justify-content: space-between; width: 100%;">
                <div class="left-values" style="width: 50%; padding: 0px 10px; text-align: left;">
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:15px;">RECEIVED AMOUNT</p>
                </div>
                <div class="right-values" style="width: 50%; text-align: right; padding: 0px 10px; ">
                    <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:15px;">0</p>
                </div>
            </div>
            <div class="amt-in-words" style="width: 100%; text-align: right; font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color: #2c3e50;">
                <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;font-size:16px;"><strong>Total Amount(in words)</strong></p>
                <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#696e73;font-size:16px;">Sixteen Thousand Rupees</p>
            </div>
        </div>

    </div>

    <div class="signature" style="display:flex; justify-content:space-between; margin-top: 25px;">
        <div class="customer" style="width: 50%; height: 120px; border: 2px solid #b2bac1; margin-right: 50px;">
        </div>
        <div class="authorize-signature" style="width: 50%; height: 120px; border: 2px solid #b2bac1; margin-left: 50px; display: flex; justify-content: center;">
            <img src="https://static.cdn.wisestamp.com/wp-content/uploads/2020/08/Oprah-Winfrey-Signature-1.png" style="width: auto; height: 120px;">
        </div>
    </div>
    <div class="signature-for" style="display:flex; justify-content:space-between;">
        <div class="customer" style="width: 50%;">
            <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;"><strong>CUSTOMER SIGNATURE</strong></p>
        </div>
        <div class="authorize-signature" style="width: 50%; text-align: right;">
            <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;"><strong>AUTHORIZED SIGNATURE FOR</strong></p>
            <p style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif; color:#2c3e50;"><strong>KARAN ENTERPRISE</strong></p>
        </div>
    </div>

</div>


